html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #131313;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
  overflow-y: auto;
}

.main-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: left;
  margin-top: 100px;
  border-radius: 10px;
  padding: 10px;
  background-color: #1e1e20;
  max-width: 1200px;
  width: 100%;
  overflow-y: auto;
}

.title {
  font-size: 4.5rem;
  color: #fff;
  padding: 20px;
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
}

.home-message {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-style: italic;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  margin: 0 auto;
}

.login-button {
  background-color: #007bff;
  color: #fff;
}

.signup-button {
  background-color: #28a745;
  color: #fff;
}
