.logout-button {
    background-color: #dc3545; /* Red color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 100px;
  }
  
  .logout-button:hover {
    background-color: #c82333; /* Darker red color on hover */
  }
  