.service-section {
  text-align: center;
  min-height: 1000px; /* Maintain minimum height */
  max-width: 1200px; /* Limit the width */
  position: relative;
  border-bottom: 1px solid #ccc; /* Add border line at the bottom */
}

.service-section .title {
  font-size: 4.5rem;
  color: #fff;
  padding: 20px;
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

.service-tab {
    position: relative;
    color: #fff;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center title vertically */
    align-items: center; /* Center title horizontally */
}

.service-image {
    width: 90%;
    height: 70%;
    max-height: 580px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
  }
  
.service-tab:hover .service-tab-title {
    opacity: 1;
  }

  .service-tab-title {
    position: relative;
    cursor: pointer;
    font-size: 3.5rem;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    transition: opacity 0.3s ease;
    bottom: 50%;  transition: opacity 0.3s ease; /* Add transition for smooth appearance */  opacity: 0; /* Initially hide the title */


  }
  
  .service-tab:hover .service-image.blur {
    filter: blur(5px);
  }  
  