.profile-container {
    text-align: center;
  }
  
  .profile-title {
    color: rgb(255, 255, 255); /* Set the color to white */
  }

  .profile-picture-container {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    overflow: hidden;
    border-radius: 50%; /* Make the container circular */
    margin: 0 auto;
  }
  
  .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container, maintaining aspect ratio */
    object-position: center; /* Center the image within the container */
  }

/* Profile.css */
/* Other styles... */

.file-input-container {
    position: relative;
  }
  
  .file-input-container input[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
  }
  
  .file-name, .no-file-selected {
    position: relative;
    z-index: 0;
    color: white;
    display: block;
  }
  
  .no-file-selected {
    z-index: -1; /* Ensure this is behind the file name */
  }
  