/* styles.css */
.welcome-message {
    font-size: 20px;
    color: #ffffff; /* White text color */
  }

  .profile-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  
  .username {
    font-weight: bold;
    font-size: 30px;
    color: #ffd700; /* Gold text color */
  }
  
  p {
    font-weight: bold;
    font-size: 20px;
    color: #ffd700; /* Gold text color */
  }
